@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="modules" class="text-center">
        <div class="card w-25">
            <a href="/MedicalAppointments">
                <div class="card-body">
                    <h5 class="card-title">Medical Appointments</h5>
                    <p class="card-text">Content</p>
                </div>
            </a>
        </div>
    </div>
</div>